
<header class="masthead">
    <div class="txt">
        <img src="../../assets/imagenes/texto.png" alt="" style="margin-top: 10%;">
    </div>
    <div class="carta1" *ngFor="let Carta of Cartas,index as i">
    <img src="{{Carta.imagen}}" alt="" style="height: 25rem;width: auto;">
    <div>
    <a href="#" id="btn1" class="btn " role="button" aria-pressed="true">Mas informacion</a>
</div>
</div>
  </header>
  <body class="body">
      <img src="../../assets/imagenes/fonodo33.gif" style="margin-left: 7%;"/>
      
  </body>
